*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

:root {
    --font-highlight: #4285F4;
  }

/* HEADER ----------------------------- */

.header-container{
    /* height: 100px; */
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.logo-col{
    display: flex;
    gap: 5px;
}

.logo{
    width: 75px;
}

.privacy{
    color: gray;
    font-size: 1.3rem;
}

.fa-list-ul{
    margin-right: 25px;
}

.fa-user{
    background-color: var(--font-highlight);
    color: white;
    padding: 10px 11px;
    border-radius: 50%;
}

.navbar{
    display: flex;
    gap: 30px;
    /* font-size: 0.9rem; */
}

.option{
    list-style: none;
    color: gray;
    padding-bottom: 10px;
    cursor: pointer;
}

.option:hover{
    color: var(--font-highlight);
}

.option:last-child{
    color: var(--font-highlight);
    position: relative;
}

.option:last-child::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--font-highlight);
}

/* MAIN ----------------------------- */

.main-container{
    width: 68%;
    margin: 0 auto;
    margin-top: 200px;
}

.faq-wrapper{
    margin-bottom: 70px;
}

.letters-ol{
    margin: 10px 0;
}

.question, p, .numbers-ol{
    margin-bottom: 25px;
}

.question{
    font-weight: 400;
    font-size: 1.5rem;
}

p, .faq-wrapper li{
    font-weight: 300;
    font-size: 0.95rem;
    line-height: 1.75rem;
}

.faq-wrapper ol{
    padding-left: 18px;
}

.faq-wrapper li{
    padding-left: 10px;
    margin-bottom: 12px;
}

.faq-wrapper a{
    color: var(--font-highlight);
}

/* FOOTER ----------------------------- */

footer{
    background-color: #F5F5F5;
}

.footer-container{
    padding: 20px 0;
    width: 68%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.about-google{
    display: flex;
    align-items: center;
    gap: 15px;
}

.link{
    list-style: none;
    font-size: 0.7rem;
}

.link a{
    color: gray;
}

.fa-globe{
    color: var(--font-highlight);
    margin-right: 3px;
}


